<div class="content">

  <h1>Simple Java Mail Modules</h1>

  <section>
    <p class="wide">
      Simple Java Mail core features can be used without any external libraries, but you can add some features by
      depending on additional modules, which bring in some additional dependencies of their own.
    </p>
  </section>
  <section>
    <div class="view">
      <p>
        The Core Module is included by default when you add Simple Java Mail. The other modules from the implementation layer can be
        added to complement Simple Java Mail.
      </p>
      <p>
        On the other hand, if you depend on one of the integration modules, you get Simple Java Mail automatically as well. Again you
      can add the other modules from the implementation layer to complement Simple Java Mail.
      </p>
    </div>
    <div class="side">
      <img src="../../assets/module_architecture.png">
    </div>
  </section>

  <h2>Authenticated (SOCKS) proxy support</h2>

  <section>
    <p>
      To enable support for authenticated SOCKS proxy servers (see <a [routerLink]="['/features']" simplePageScroll href="#section-proxy">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;authenticated-socks-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds no additional 3rd party dependencies.
    </p>
  </section>

  <h2>Outlook support</h2>

  <section>
    <p>
      To enable support for parsing Outlook messages (see <a [routerLink]="['/features']" simplePageScroll href="#section-generate-converting">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;outlook-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/bbottema/outlook-message-parser">org.simplejavamail:outlook-message-parser</a></li>
      <li>Which in turn adds:</li>
      <li><a class="indent" href="https://poi.apache.org">org.apache.poi:poi</a></li>
      <li><a class="indent" href="https://poi.apache.org">org.apache.poi:poi-scratchpad</a></li>
    </ul>
  </section>
  
  <h2>DKIM support</h2>
  
  <section>
    <p>
      To enable support for DKIM signing (see <a [routerLink]="['/features']" simplePageScroll href="#section-dkim">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;dkim-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/markenwerk/java-utils-mail-dkim">net.markenwerk:utils-mail-dkim</a></li>
    </ul>
  </section>

  <h2>S/MIME support</h2>

  <section>
    <p>
      To enable support for reading <a href="https://docs.ipswitch.com/moveit/central/onlineguide/en/MICSMIMEEmailOverview.htm">S/MIME</a>
      signed / encrypted email, (see <a [routerLink]="['/features']" simplePageScroll href="#section-smime">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;smime-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/markenwerk/java-utils-mail-smime">net.markenwerk:utils-mail-smime</a></li>
    </ul>
  </section>

  <h2>CLI support</h2>

  <section>
    <p>
      To enable CLI support, include the following module:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;cli-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/remkop/picocli">info.picocli:picocli</a></li>
      <li><a class="indent" href="https://github.com/dnault/therapi-runtime-javadoc">com.github.therapi:therapi-runtime-javadoc</a></li>
    </ul>
    <p class="wide">
      <strong>Note:</strong> Simple Java Mail core has a 'provided' dependency on <em>com.github.therapi:therapi-runtime-javadoc-scribe</em>
      which burns Javadoc into Simple Java Mail at compile time. This cannot be made optional. If this is a real concern, an option
      could be to provide two versions of Simple Java Mail: one with embedded Javadoc and one without (incompatible with the Cli Module).
    </p>
  </section>
  
  <h2>Spring support</h2>
  
  <section>
    <p>
      To enable support for Spring (see <a [routerLink]="['/configuration']" simplePageScroll href="#section-spring-support">Configuration</a>),
      make sure the following libraries can be found on the classpath (in most cases will be there anyway):
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;spring-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the Spring core dependency, which is assumed to be on the classpath already.
    </p>
  </section>
  
</div>
