	<section>
		<div class="view">
			<p>Configure your email:</p>

			<form>
				<div>
					<input type="checkbox" id="usePlainText" name="usePlainText" onclick="switchCheckbox('usePlainText', this.checked)">
					<label for="usePlainText">Plain text body</label>
				</div>
				<div>
					<input type="checkbox" id="useHTMLText" name="useHTMLText" onclick="switchCheckbox('useHTMLText', this.checked)">
					<label for="useHTMLText">HTML text body</label>
				</div>
				<div class="indent">
					<input type="checkbox" id="useEmbeddedContent" name="useEmbeddedContent" onclick="switchCheckbox('useEmbeddedContent', this.checked)"
					       disabled="disabled">
					<label for="useEmbeddedContent">HTML body contains embedded content (such as image)</label>
				</div>
				<div>
					<input type="checkbox" id="useCalendarEvent" name="useCalendarEvent" onclick="switchCheckbox('useCalendarEvent', this.checked)">
					<label for="useCalendarEvent">iCalendar event</label>
				</div>
				<div>
					<input type="checkbox" id="useAttachments" name="useAttachments" onclick="switchCheckbox('useAttachments', this.checked)">
					<label for="useAttachments">Downloadable attachments</label>
				</div>
				<div>
					<input type="checkbox" id="useEmailForward" name="useEmailForward" onclick="switchCheckbox('useEmailForward', this.checked)">
					<label for="useEmailForward">Forwards another email</label>
				</div>
			</form>

		</div>
		<div class="side padded">
			<p>Structure used for email:</p>
			<div id="messageStructure">&nbsp;</div>
		</div>
	</section>