<!DOCTYPE html>
<html lang="en" class="language-java">
	<head>
		<meta charset="UTF-8">
		<title>Simple Java Mail{{#if sub-title}} - {{sub-title}}{{/if}}</title>
		<link rel="icon" href="data:;base64,=">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="assets/lib/fonts.googleapis.com.Open%2BSans%2B300.400.600.700.css">
        <link rel="stylesheet" href="assets/lib/prism.css">
        <link rel="stylesheet" href="pages/styles/main.css">

		{{#> html-head-block}}{{/html-head-block}}

        <!-- prefetch HTML5 support all browsers, prerender Chrome/Edge improved support -->
		<link rel="prerender prefetch" href="index.html">
		<link rel="prerender prefetch" href="modules.html">
		<link rel="prerender prefetch" href="features.html">
		<link rel="prerender prefetch" href="cli.html">
		<link rel="prerender prefetch" href="configuration.html">
		<link rel="prerender prefetch" href="debugging.html">
		<link rel="prerender prefetch" href="rfc-compliant.html">
		<link rel="prerender prefetch" href="download.html">
		<link rel="prerender prefetch" href="contact.html">
	</head>
	<body>
		{{#> header-block}}
			{{> includes/header }}
		{{/header-block}}

		<main>
			{{#> body-block}}{{/body-block}}
		</main>

		<footer>
			&copy; 2008 by <a class="copyright" href="http://www.bennybottema.com" target="_blank">bennybottema.com</a>
		</footer>

		<script type="text/javascript" src="pages/scripts/lazy-img-loader.js"></script>
		<script type="text/javascript" src="assets/lib/prism.js"></script>
		<script>Prism.highlightAll();</script>
		<script type="text/javascript" src="pages/scripts/back-to-top.js"></script>
		{{#> scripts-block}}{{/scripts-block}}
	</body>
</html>