<div class="content">

  <h1>Project dependencies</h1>

  <section>
    <p class="wide">
      Simple Java Mail core features can be used without any external libraries, but a few features require additional dependencies.
    </p>
  </section>
  <section>
    <div class="view">
      <p>
        The Core Module is included by default when you add Simple Java Mail. The other modules from the implementation layer can be
        added to complement Simple Java Mail.
      </p>
      <p>
        On the other hand, if you depend on one of the integration modules, you get Simple Java Mail automatically as well. Again you
      can add the other modules from the implementation layer to complement Simple Java Mail.
      </p>
    </div>
    <div class="side">
      <img src="../../assets/module_architecture.png">
    </div>
  </section>

  <h2>CLI support</h2>

  <section>
    <p>
      To enable CLI support, include the following module:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;cli-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>DKIM support</h2>
  
  <section>
    <p>
      To enable support for DKIM signing (see <a [routerLink]="['/features']" simplePageScroll href="#section-dkim">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;dkim-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>Outlook support</h2>
  
  <section>
    <p>
      To enable support for parsing Outlook messages (see <a [routerLink]="['/features']" simplePageScroll href="#section-generate-converting">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;outlook-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>Spring support</h2>
  
  <section>
    <p>
      To enable support for Spring (see <a [routerLink]="['/configuration']" simplePageScroll href="#section-spring-support">Configuration</a>),
      make sure the following libraries can be found on the classpath (in most cases will be there anyway):
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;spring-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
</div>
