{{#> layouts/base head-sub-title="Contact" page-title="Help Simple Java Mail Grow" }}

	{{#*inline "html-head-block"}}
<meta name="Description" content="Simple Java Mail contact options">
	{{/inline}}

	{{#*inline "header-block"}}
		{{> includes/header topic="contact" }}
	{{/inline}}

	{{#*inline "body-block"}}
  <h2>Get help, request features, post bugs</h2>

  <section>
    <div class="view">
      <p>Simple Java Mail is a robust library, but there's always room for improvement: get in touch to suggest anything you can think of and help Simple Java Mail grow!</p>

      <p>The <a href="https://github.com/bbottema/simple-java-mail/"><strong>Simple Java Mail GitHub repository</strong></a> and the <a
        href="https://github.com/bbottema/simple-java-mail/issues"><strong>issue tracker</strong></a> are used to discuss feature requests and issues
        (I get a notification email right away).
      </p>

      <p>You can also refer to the <a href="http://www.javadoc.io/doc/org.simplejavamail/simple-java-mail">API documentation</a>.</p>

      <p>If you need more general help, you'll usually get an answer by posting a question on <a href="http://stackoverflow.com">StackOverflow</a>.</p>

      <iframe src="https://ghbtns.com/github-btn.html?user=bbottema&amp;repo=simple-java-mail&amp;type=star&amp;count=true&amp;size=large"
        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </div>
  </section>


  <h2>About myself</h2>

  <section>
	  <p class="wide">
		  I'm a freelance full-stack software engineer. I have a bunch of private and open source projects,
		  but my public babies are Simple Java Mail and my latest project: my wife's webhop
		  <a title="Remya's Cake Studio" href="https://remyascakestudio.nl" target="_blank">Remya's Cake Studio</a>!
	  </p>
	  <p class="wide">
		  You can find more about me on <a title="Benny Bottema profile page" href="http://www.bennybottema.com">bennybottema.com</a>.
		  At the bottom of the page you can shoot me an email if you want a quick answer.
	  </p>
  </section>
    {{/inline}}

{{/layouts/base}}