{{#> layouts/base }}

	{{#*inline "html-head-block"}}
<meta name="Description" content="Simple Java Mail: Simple API, Complex Emails (Jakarta Mail smtp wrapper). Provides a clean API which hides low level mime structures.">
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "http://www.simplejavamail.org",
				"name": "Simple Java Mail",
				"sameAs": [ "https://github.com/bbottema/simple-java-mail" ]
			}
		</script>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": "Simple Java Mail",
				"description": "Simple API, Complex Emails (JavaMail smtp wrapper)"
			}
		</script>

		<meta property="og:title" content="Simple Java Mail: Simple API, Complex Emails" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.simplejavamail.org" />
		<meta property="og:description" content="Simple API, Complex Emails (Jakarta Mail smtp wrapper). Provides a clean API which hides low level mime structures." />
	{{/inline}}

	{{#*inline "header-block"}}
		{{#> includes/header topic="about" }}
			{{#*inline "splash-content"}}
				<div>
					<div class="intro-code">
<pre><code>Email email = EmailBuilder.startingBlank()
    .from("lollypop", "lolly.pop@pretzelfun.com")
    .to("C. Cane", "candycane@candyshop.org")
    .cc("C. Bo &lt;chocobo@candyshop.org&gt;")
    .withSubject("hey")
    .withPlainText("We should meet up! ;)")
    .buildEmail();

mailer.sendMail(email);
</code></pre>
						<a href="download.html" class="index-demo-dl">Download Simple Java Mail</a>
					</div>
				</div>
			{{/inline}}
		{{/includes/header}}
	{{/inline}}

	{{#*inline "body-block"}}
<div class="content">

  <h3>Simple Java Mail: Simple API, Complex Emails</h3>

  <section>

	  <div class="view">
		  <br/>
		  <p>Simple Java Mail is a mailing library with a super <strong>clean API</strong>. It's the easiest to
			  use (Java) mailing library in the world for sending emails using SMTP.</p>
		  <br/>
		  <p>This library relieves you of having to deal with low level API such as MimeMessage, fuzzy try
			  catch constructions, inner classes and other nonsense. You just want to send an email!</p>
		  <br/>
		  <p>But don't let looks deceive you, this library does everything: it is a <strong>robust, feature complete</strong>
			  mailing library, yet it is <strong>small</strong> and <strong>lightweight</strong> (the core library clocking in at only 134kb).
		  </p>
		  <br/>
		  <p>It is fully <strong><a href="rfc-compliant.html#navigation">RFC compliant</a></strong> and
			  looks good in all email clients.</p>
		  <br/>
		  <p>It's also the only java mailing library in the world that can send through authenticated SOCKS proxy or let you
			  configure a cluster of connection pools.</p>
		  <br/>
		  <p>Over the 13+ years of open source development, Simple Java Mail has matured, adding CLI support, DKIM, SMIME,
			  batch sending, clustering, CRLF injection protection and much more.</p>
		  <br/>
		  <p>Simple Java Mail can also be used as a <strong>catalyst</strong> in your own project where you handle the ultimate
			  server connections and send emails. You want to use a REST service instead of the built-in SMTP support? Go
			  right ahead.</p>
	  </div>

    <div class="side">
      <pre><code class="small">EmailBuilder.startingBlank()
EmailBuilder.replyingTo(email)
EmailBuilder.forwarding(email)
EmailBuilder.copying(email)</code></pre>
      <pre><code class="small">// Most essentials together (but almost everything is optional):

ConfigLoader.loadProperties("simplejavamail.properties"); // optional default
ConfigLoader.loadProperties("overrides.properties"); // optional extra

Email email = EmailBuilder.startingBlank()
          .to("lollypop", "lolly.pop@somemail.com")
          .to("C. Cane", "candycane@candyshop.org")
          .ccWithFixedName("C. Bo group", "chocobo1@candyshop.org", "chocobo2@candyshop.org")
          .withRecipientsUsingFixedName("Tasting Group", BCC,
                        "taster1@cgroup.org;taster2@cgroup.org;tester &lt;taster3@cgroup.org&gt;")
          .bcc("Mr Sweetnose &lt;snose@candyshop.org&gt;")
          .withReplyTo("lollypop", "lolly.pop@othermail.com")
          .withSubject("hey")
          .withHTMLText("&lt;img src=&#39;cid:wink1&#39;&gt;&lt;b&gt;We should meet up!&lt;/b&gt;&lt;img src=&#39;cid:wink2&#39;&gt;")
          .withPlainText("Please view this email in a modern email client!")
          .withCalendar(CalendarMethod.REQUEST, iCalendarText)
          .withEmbeddedImage("wink1", imageByteArray, "image/png")
          .withEmbeddedImage("wink2", imageDatesource)
          .withAttachment("invitation", pdfByteArray, "application/pdf")
          .withAttachment("dresscode", odfDatasource)
          .withHeader("X-Priority", 5)
          .withReturnReceiptTo()
          .withDispositionNotificationTo("notify-read-emails@candyshop.com")
          .withBounceTo("tech@candyshop.com")
          .signWithDomainKey(privateKeyData, "somemail.com", "selector") // DKIM
          .signWithSmime(pkcs12Config)
          .encryptWithSmime(x509Certificate)
          .buildEmail();

Mailer mailer = MailerBuilder
          .withSMTPServer("smtp.host.com", 587, "user@host.com", "password")
          .withTransportStrategy(TransportStrategy.SMTP_TLS)
          .withProxy("socksproxy.host.com", 1080, "proxy user", "proxy password")
          .withSessionTimeout(10 * 1000)
          .clearEmailAddressCriteria() // turns off email validation
          .withProperty("mail.smtp.sendpartial", true)
          .withDebugLogging(true)
          .async()
          // not enough? what about this:
          .withClusterKey(myPowerfulMailingCluster);
          .withThreadPoolSize(20); // multi-threaded batch handling
          .withConnectionPoolCoreSize(10); // reusable connection(s) / multi-server sending
          .withCustomSSLFactoryClass("org.mypackage.MySSLFactory");
          .withCustomSSLFactoryInstance(mySSLFactoryInstance);
          .manyMoreOptions()
          .buildMailer();

mailer.sendMail(email);</code></pre>
      <pre><code class="small">mailer.testConnection();
mailer.validate(email);</code></pre>
      <pre><code class="small">mailer.getServerConfig();
mailer.getOperationalConfig();
mailer.getProxyConfig();
mailer.getTransportStrategy();
mailer.getSession();
mailer.getEmailAddressCriteria();</code></pre>
      S/MIME signed and/or encrypted Outlook messages? No problem!
      <pre><code class="small">Email email = EmailConverter.outlookMsgToEmail("smimeSignedEmail.msg", pkcs12Config);</code></pre>
    </div>
  </section>

  <section>
    <div class="wide">
      What about CLI?
      <pre><code class="language-text">
sjm --help
</code></pre>
      <img data-src="../../assets/cli_example.png" alt="Example of Simple Java Mail CLI usage" style="width: 100%;">
    </div>
  </section>
</div>
    {{/inline}}

{{/layouts/base}}