{{#> layouts/base head-sub-title="Migration Notes" page-title="Migration Notes for major releases" }}

	{{#*inline "html-head-block"}}
<meta name="Description" content="Notes on migrating from Simple Java Mail to newer major releases">
	{{/inline}}

	{{#*inline "header-block"}}
		{{> includes/header topic="migration notes" }}
	{{/inline}}

	{{#*inline "body-block"}}
	<section>
		<p class="wide">
			Simple Java Mail has changed quite a lot over the years with each major release. If you come from a version < 5.0.0,
			it is recommended to update to 5.0.0 first, before moving on to next major versions. Find the changes detailed by
			clicking on your target Simple Java Mail version.
		</p>
	</section>

  <section>
    <div class="view">
      <a class="button" href="migration-notes-5.0.0.html#navigation">Migrating to 5.0.0</a>
      <a class="button" href="migration-notes-6.0.0.html#navigation">Migrating to 6.0.0</a>
      <a class="button" href="migration-notes-7.0.0.html#navigation">Migrating to 7.0.0</a>
    </div>
  </section>
    {{/inline}}
{{/layouts/base}}