{{#> layouts/base sub-title="Migration Notes" }}

	{{#*inline "header-block"}}
		{{> includes/header topic="migration notes" }}
	{{/inline}}

	{{#*inline "body-block"}}
<div class="content">

  <section>
    <div class="view">
      <a class="button" href="migration-notes-5.0.0.html#navigation">Migrating to 5.0.0</a>
      <a class="button" href="migration-notes-6.0.0.html#navigation">Migrating to 6.0.0</a>
    </div>
  </section>

</div>
    {{/inline}}
{{/layouts/base}}