{{#> layouts/base head-sub-title="Migration Notes" page-title="Migration Notes for 5.0.0 and 6.0.0" }}

	{{#*inline "html-head-block"}}
<meta name="Description" content="Notes on migrating from Simple Java Mail to 5.0.0 and 6.0.0">
	{{/inline}}

	{{#*inline "header-block"}}
		{{> includes/header topic="migration notes" }}
	{{/inline}}

	{{#*inline "body-block"}}
	<section>
		<p class="wide">
			Simple Java Mail has changed quite a lot over the years and has been rolled out over two major released: 5.0.0 and 6.0.0. If you come from a version < 5.0.0, it is recommended to update to 5.0.0 first, before moving on to 6.0.0. Find the changes detailed by clicking on your target Simple Java Mail version.
		</p>
	</section>

  <section>
    <div class="view">
      <a class="button" href="migration-notes-5.0.0.html#navigation">Migrating to 5.0.0</a>
      <a class="button" href="migration-notes-6.0.0.html#navigation">Migrating to 6.0.0</a>
    </div>
  </section>
    {{/inline}}
{{/layouts/base}}