{{#> layouts/base head-sub-title="Modules" page-title="Simple Java Mail Modules" }}

	{{#*inline "html-head-block"}}
<meta name="Description" content="List of all Simple Java Mail modules and what 3rd party dependencies they bring">
	{{/inline}}

	{{#*inline "header-block"}}
		{{> includes/header topic="modules" }}
	{{/inline}}

  {{#*inline "body-block"}}
  <section>
    <p class="wide">
      Simple Java Mail core features can be used without any external libraries, but you can add some features by
      depending on additional modules, which bring in some additional dependencies of their own.
    </p>
  </section>
  <section>
    <div class="view">
      <p>
        The Core Module is included by default when you add Simple Java Mail. The other modules from the implementation layer can be
        added to complement Simple Java Mail.
      </p>
      <p>
        On the other hand, if you depend on one of the integration modules, you get Simple Java Mail automatically as well. Again you
      can add the other modules from the implementation layer to complement Simple Java Mail.
      </p>
      <p style="margin-top: 1em">
        The core dependencies are:
      </p>
      <ul class="indent">
        <li>org.slf4j:slf4j-api</li>
        <li>com.sun.mail:jakarta.mail</li>
        <li>com.sun.activation:jakarta.activation</li>
        <li>jakarta.xml.bind:jakarta.xml.bind-api</li>
        <li>jakarta.annotation:jakarta.annotation-api</li>
        <li>com.sanctionco.jmail:jmail (address validation)</li>
		<li>com.pivovarit:throwing-function (improved Streams api)</li>
      </ul>
    </div>
    <div class="side">
	    <img data-src="../../assets/module_architecture.png"
	         data-src-webp="../../assets/module_architecture.png.webp"
			 alt="Simple Java Mail module overview">
    </div>
  </section>

  <h2 id="batch-module" class="with-back-to-top">Batch and Clustering support</h2>

  <section>
    <p>
      To enable support for async / batch mode sending using connection pooling, and clustering (see <a href="configuration.html#section-batch-and-clustering">Configuration</a>),
		include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;batch-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/simple-java-mail/smtp-connection-pool">simple-java-mail:smtp-connection-pool</a></li>
    </ul>
	  <p class="wide">
      This allows you to send emails asynchronous with configuration options for thread management and SMTP connection
      pooling. See <a href="configuration.html#section-batch-and-clustering">configuration</a> for more details.
    </p>
	  <p class="wide">
		  Note that with the batch-module enabled, the JVM won't shut down by itself anymore, as the connection pool stays alive until
		  shutdown manually. To do this, just call <code>mailer.shutdownConnectionPool()</code> (repeat with each mailer you might have
		  in a cluster).
	  </p>
  </section>

  <h2 id="authenticated-socks-module" class="with-back-to-top">Authenticated (SOCKS) proxy support</h2>

  <section>
    <p>
      To enable support for authenticated SOCKS proxy servers (see <a href="features.html#section-proxy">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;authenticated-socks-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds no additional 3rd party dependencies.
    </p>
  </section>

  <h2 id="outlook-module" class="with-back-to-top">Outlook support</h2>

  <section>
    <p>
      To enable support for parsing Outlook messages (see <a href="features.html#section-converting">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;outlook-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/EsotericSoftware/kryo">com.esotericsoftware:kryo</a></li>
      <li><a class="indent" href="https://github.com/magro/kryo-serializers">de.javakaffee:kryo-serializers</a></li>
      <li><a class="indent" href="https://github.com/bbottema/outlook-message-parser">org.simplejavamail:outlook-message-parser</a></li>
      <li>Of which that last in turn adds:</li>
      <li><a class="indent" href="https://poi.apache.org/">org.apache.poi:poi</a></li>
      <li><a class="indent" href="https://poi.apache.org/">org.apache.poi:poi-scratchpad</a></li>
    </ul>
  </section>

  <h2 id="dkim-module" class="with-back-to-top">DKIM support</h2>

  <section>
    <p>
      To enable support for DKIM signing (see <a href="security.html#section-sending-dkim">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;dkim-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/markenwerk/java-utils-mail-dkim">net.markenwerk:utils-mail-dkim</a></li>
    </ul>
  </section>

  <h2 id="smime-module" class="with-back-to-top">S/MIME support</h2>

  <section>
    <p>
      To enable support for sending and reading <a href="https://docs.ipswitch.com/moveit/central/onlineguide/en/MICSMIMEEmailOverview.htm">S/MIME</a>
      signed / encrypted email, (see <a href="security.html#section-sending-smime">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;smime-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/markenwerk/java-utils-mail-smime">net.markenwerk:utils-mail-smime</a></li>
    </ul>
  </section>

  <h2 id="cli-module" class="with-back-to-top">CLI support</h2>

  <section>
	  <p class="wide">
		  Normally, you would not need the CLI module on the class path, unless you wish to invoke the
		  <code class="language-text">static void main</code> method from Java (see also <a href="cli.html#navigation">how to use CLI</a>).
		  To do so, include the following module:
	  </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;cli-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
    <p>
      This adds the following 3rd party dependencies:
    </p>
    <ul>
      <li><a class="indent" href="https://github.com/remkop/picocli">info.picocli:picocli</a></li>
      <li><a class="indent" href="https://github.com/dnault/therapi-runtime-javadoc">com.github.therapi:therapi-runtime-javadoc</a></li>
      <li><a class="indent" href="https://github.com/bbottema/java-reflection">com.github.bbottema:java-reflection</a></li>
    </ul>
    <p class="wide">
      <strong>Note:</strong> Simple Java Mail core has a 'provided' dependency on <em>com.github.therapi:therapi-runtime-javadoc-scribe</em>
      which burns Javadoc into Simple Java Mail at compile time. This cannot be made optional. If this is a real concern, an option
      could be to provide two versions of Simple Java Mail: one with embedded Javadoc and one without (incompatible with the Cli Module).
      This is currently not in scope.
    </p>
  </section>

  <h2 id="spring-module" class="with-back-to-top">Spring support</h2>

  <section>
	  <p>
		  To enable Spring support (see <a href="configuration.html#section-spring-support">Configuration</a>), include the following module:
	  </p>
	  <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;spring-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
	  <p>
		  This adds the Spring core dependency, which is assumed to be on the classpath already.
	  </p>
  </section>

  <h2 id="karaf-module" class="with-back-to-top">Apache Karaf support</h2>

  <section>
	  <p>
		  To enable Apache Karaf support, include the following module:
	  </p>
	  <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;karaf-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
	  <p>
		  NOTE: the artifact is currently temporarily named: 'simplejavamail-karaf-feature'.
		  It will be named correctly in the next release.
	  </p>
  </section>
  {{/inline}}

{{/layouts/base}}